<h1>Addmision Form</h1>


<form method='POST' action=''>
    {% csrf_token %}
    <label for="firstname">First Name</label><br>
    <input type="text" id="firstname" name="firstname"><br><br>
    <label for="lastname">Last Name</label><br>
    <input type="text" id="lastname" name="lastname"><br><br>
    <label for="fathername">Father Name</label><br>
    <input type="text" id="fathername" name="fathername"><br><br>
    <label for="mothername">Mother Name</label><br>
    <input type="text" id="mothername" name="mothername"><br><br>
    <label for="dob">DOB</label><br>
    <input type="text" id="dob" name="dob"><br><br>
    <label for="age">Age</label><br>
    <input type="text" id="age" name="age"><br><br>
    <label for="address">Address</label><br>
    <input type="text" id="address" name="address"><br><br>
    <label for="fathermobilenumber">Father Mobile Number</label><br>
    <input type="text" id="fathermobilenumber" name="fathermobilenumber"><br><br>
    <label for="mothermobilenumber">Mother Mobile Number</label><br>
    <input type="text" id="mothermobilenumber" name="mothermobilenumber"><br><br>
    <label for="gender">Gender</label><br>
    <input type="text" id="gender" name="gender"><br><br>
    <input type="submit" value="submit">
    
</form>